.page-header { background: url("../../../../src/assets/img/productos.jpg"), no-repeat; position: relative; background-size: cover; }
.page-caption { padding-top: 110px; padding-bottom: 100px; }
.page-title { font-size: 60px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

/* This pen */

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}
