<app-navbar></app-navbar>

 <!-- page-header -->
 <div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                  <h1 class="page-title"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                    <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z"/>
                  </svg> PRODUCTOS DE LA SUCURSAL</h1>
              </div>
          </div>
      </div>
  </div>
</div> <br>


<div class="container">
  <button class="btn btn-success mb-3" type="button" routerLink="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg> Regresar</button>


  <div class="input-group">
    <input type="search" class="form-control rounded bg-dark text-light" placeholder="buscar" aria-label="buscar" aria-describedby="search-addon"  (input)="getProductosNombre($event.target.value)" />
  </div>


  <div class="row">
    <div class="col-12 col-md-12 py-3">
      <table class="table table-secondary table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock en Sucursal</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of productosModelGet">
              <th scope="row">{{ prod._id }}</th>
              <td>{{prod.nombreProducto}}</td>
              <td>{{prod.stock}}</td>
              <td><button class="btn btn-danger" (click)="deleteProductos(prod._id)">Eliminar</button></td>
              <td><button class="btn btn-info"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" (click)="getProductosId(prod._id)">Vender</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-graficas></app-graficas>
</div>

<!-- OffCanvas Editar Producto -->
<div class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vender Producto</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Producto</label>
        <h5>{{productosModelGetId.nombreProducto}}</h5>

      </div>
      <div class="mb-3">
        <label for="inputDireccion" class="form-label">Cantidad</label>
        <input type="number" value="1" min="1" max="{{ productosModelGetId.stock }}" class="form-control" id="inputCantidad" name="stock" #stock="ngModel" [(ngModel)]="productoSucursalModelPut.stock">
      </div>
      <button class="btn btn-success" (click)="putVender(productosModelGetId._id)" data-bs-dismiss="offcanvas">Vender Producto</button>
    </form>
  </div>
</div>
