<!--Enrique Hurtarte 2020020-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    </head>
    <body id="page-top">

      <!--Navbar Enrique Hurtarte 2020020-->
        <div class="fondo">
          <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center text-white">
              <header class="mb-auto">
                <div>
                  <h3 class="float-md-start mb-0"> <img class="align-middle" src="/assets/img/guatemala.png" alt="">  Sucursales Guatemala</h3>
                  <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    <a class="nav-link " routerLink="/login" href="#">Ingresar</a>
                  </nav>
                </div>
              </header>
                </div>
      </div>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Administración de <br>Sucursales</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Bievenido! <br>Aqui podras ver y llevar el control de las sucursales de tu empresa.</p>

                        <a routerLink="/login" routerLinkActive="active" class="btn btn-primary btn-xl" href="#about">Empezar</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer class="py-5" style="background-color:#36475B; color:#FFF">
            <div class="container px-4 px-lg-5"><div class="small text-center">Copyright &copy; 2022 - Grupo 5 IN6BM</div></div>
        </footer>

    </body>
</html>
