
<div class="fondo">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center text-white">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0"> <img class="align-middle" src="/assets/img/guatemala.png" alt="">  Sucursales Guatemala</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" routerLink=""  aria-current="page">Inicio</a>
            <a class="nav-link " routerLink="/login">Ingresar</a>
            <a class="nav-link" routerLink="/empresas" >Empresas</a>
            <a class="nav-link active" >sucursales</a>
          </nav>
        </div>
      </header>
        </div>
</div>

<div class="row py-5">
  <div class="col-lg-11 mx-auto">
    <div class="p-5 shadow-sm rounded banner text-white text-center">
          <h1 class="display-1 ">Sucursales</h1>
    </div>
  </div>
</div>

<div class="container">
  <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarSucursal">Agregar Sucursal</button>

  <div class="row">
    <div class="col-12 col-md-12 py-3" *ngFor="let suc of sucursalesModelGet">
      <div class="card text-center mb-12 tarjeta">
        <h5 class="card-header header-tarjeta">{{ suc._id }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{suc.nombreSucursal}}</h5>
          <p class="card-text">direccion: {{suc.direccionSucursal}}</p>
          <p class="card-text">municipio: {{suc.municipio}}</p>
          <a  class="btn btn-success mx-2 ">Ver</a>
          <a  class="btn btn-warning mx-2 ">Editar</a>
          <button  class="btn btn-danger text-dark  mx-2"  (click)="deleteSucursales(suc._id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Empresa-->
<div class="modal fade" id="modalAgregarSucursal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Sucursal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre Sucursal</label>
            <input type="text" class="form-control" id="inputNombre" name="nombreSucursal" #nombreSucursal="ngModel" [(ngModel)]="sucursalesModelPost.nombreSucursal">
          </div>
          <div class="mb-3">
            <label for="inputDireccion" class="form-label">Dirrección</label>
            <input type="text" class="form-control" id="inputDireccion" name="direccionSucursal" #direccionSucursal="ngModel" [(ngModel)]="sucursalesModelPost.direccionSucursal">
          </div>
          <div>
            <label for="inputMunicipio" class="form-label">Municipio</label>
            <select class="form-select" id="inputMunicipio" name="municipio" #municipio="ngModel"  [(ngModel)]="sucursalesModelPost.municipio">
              <option *ngFor="let municipio of municipios" value="{{ municipio.nombre }}" >{{municipio.nombre}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postSucursales()" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>
