<div class="area"></div><nav class="main-menu">
  <ul *ngIf="_EmpresasService.obtenerIdentidad() != null">
      <li class="has-subnav" *ngIf="_EmpresasService.obtenerIdentidad().rol === 'Admin'">
          <a class="nav-link " routerLink="/admin/empresas">
              <i class="fa fa-building-o fa-2x "></i>
              <span class="nav-text">
                  Empresas
              </span>
          </a>

        </li>
        <li class="has-subnav" *ngIf="_EmpresasService.obtenerIdentidad().rol === 'Empresa'">
          <a class="nav-link " routerLink="/usuario/dashboard">
             <i class="fa fa-sitemap fa-2x"></i>
              <span class="nav-text">
                  Sucursales
              </span>
          </a>

      </li>
      <li class="has-subnav" *ngIf="_EmpresasService.obtenerIdentidad().rol === 'Empresa'">
          <a class="nav-link" routerLink="/usuario/productos">
             <i class="fa fa-shopping-cart fa-2x"></i>
              <span class="nav-text">
                  Productos
              </span>
          </a>

      </li>
  </ul>

  <ul class="user" *ngIf="_EmpresasService.obtenerIdentidad() != null">
    <li>
       <a class="nav-link " *ngIf="_EmpresasService.obtenerIdentidad().rol === 'Empresa'" routerLink="/usuario/editarUsuario">
             <i class="fa fa-user fa-2x"></i>
            <span class="nav-text">
                {{usuario}}
            </span>
        </a>
      </li>
      <li>
        <a class="nav-link " *ngIf="_EmpresasService.obtenerIdentidad().rol === 'Admin'">
              <i class="fa fa-user fa-2x"></i>
             <span class="nav-text">
                 {{usuario}}
             </span>
         </a>
       </li>
</ul>

  <ul class="logout">
      <li>
         <a class="nav-link " (click)="logOut() " routerLink="/login">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Cerrar Sesión
              </span>
          </a>
        </li>
  </ul>
</nav>
