
<div class="fondo">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center text-white">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0"> <img class="align-middle" src="/assets/img/guatemala.png" alt="">  Sucursales Guatemala</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" routerLink=""  aria-current="page">Inicio</a>
            <a class="nav-link " routerLink="/login">Ingresar</a>
            <a class="nav-link active" >Empresas</a>
            <a class="nav-link " routerLink="/dashboard">Sucursales</a>
            <a class="nav-link" routerLink="/productos" >Productos</a>
          </nav>
        </div>
      </header>
        </div>
</div>

<div class="row py-5">
  <div class="col-lg-11 mx-auto">
    <div class="p-5 shadow-sm rounded banner text-white text-center">
          <h1 class="display-1 ">Empresas</h1>
    </div>
  </div>
</div>

<div class="container">
  <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpresa">Agregar Empresa</button>

  <div class="row">
    <div class="col-12 col-md-12 py-3" *ngFor="let emp of EmpresasModelGet">
      <div class="card text-center mb-12 tarjeta">
        <h5 class="card-header header-tarjeta">{{ emp._id }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{emp.nombreEmpresa}}</h5>
          <p class="card-text">Tipo: {{emp.tipo}}</p>
          <a  class="btn btn-success mx-2 ">Ver</a>
          <a  class="btn btn-warning mx-2 " data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample" (click)="getEmpresasId(emp._id)">Editar</a>
          <button  class="btn btn-danger text-dark  mx-2" (click)="deleteEmpresas(emp._id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Agregar Empresa-->
<div class="modal fade" id="modalAgregarEmpresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Empresa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre Empresa</label>
            <input type="text" class="form-control" id="inputNombre" name="nombreEmpresa" #nombreEmpresa="ngModel" [(ngModel)]="EmpresaModelPost.nombreEmpresa">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inputNombre" name="usuario" #usuario="ngModel" [(ngModel)]="EmpresaModelPost.usuario">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputNombre" name="password" #password="ngModel" [(ngModel)]="EmpresaModelPost.password">
          </div>

          <div>
            <label for="inputNombre" class="form-label">Tipo</label>
            <select class="form-select" name="tipo" #tipo="ngModel"  [(ngModel)]="EmpresaModelPost.tipo" aria-label="Default select example">
              <option selected ></option>
              <option *ngFor="let tipo of tipos" value="{{ tipo.nombreTipo }}" >{{ tipo.nombreTipo }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postEmpresas()" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>


<!-- OffCanvas Editar Empresa -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Empresa</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Nombre Empresa</label>
            <input type="text" class="form-control" id="inputNombre" name="nombreEmpresa" #nombreEmpresa="ngModel" [(ngModel)]="EmpresasModelGetId.nombreEmpresa">
      </div>
      <div class="mb-3">
        <label for="inputUsuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="inputUsuario" name="usuario" #usuario="ngModel" [(ngModel)]="EmpresasModelGetId.usuario">
      </div>
      <div class="mb-3">
        <label for="inputTipo" class="form-label">Tipo</label>
        <select class="form-select" name="tipo" #tipo="ngModel"  id="inputTipo" [(ngModel)]="EmpresasModelGetId.tipo" aria-label="Default select example">
          <option selected ></option>
          <option *ngFor="let tipo of tipos" value="{{ tipo.nombreTipo }}" >{{ tipo.nombreTipo }}</option>
        </select>
      </div>
      <button class="btn btn-success"  (click)="putEmpresas()" data-bs-dismiss="offcanvas">Editar Empresa</button>
    </form>
  </div>
</div>
